<h1>Reactive Forms</h1>

<section>
  <form *ngIf="formGroup" [formGroup]="formGroup">
    <input [formControl]="formGroup.controls.userType">

    <select [formControl]="formGroup.controls.userType">
      <option [ngValue]="null">None</option>
      <option [ngValue]="option.value" *ngFor="let option of UserType | enum">{{option.label}}</option>
    </select>
    <div style="color: red;" *ngFor="let error of formGroup.controls.userType.errors | errors">
      {{error.message}}
    </div>

    <button (click)="formGroup.addAlias()">Add Alias</button>
    <br>
    <ng-container formArrayName="aliases" *ngFor="let alias of formGroup.controls.aliases.controls; let index = index">
      <input [formControl]="alias">
      <button (click)="formGroup.removeAlias(index)">delete</button>
      <br>
    </ng-container>
    <ng-container *ngFor="let catFormGroup of formGroup.controls.cats.controls; let index = index">
      <app-cat-form [catFormGroup]="catFormGroup"></app-cat-form>
      <button (click)="formGroup.removeCat(index)">delete</button>
    </ng-container>
    <button (click)="formGroup.addCat()">Add Cat</button>
    <button (click)="logValue()">Get Raw Value</button>
  </form>
</section>

<pre>{{formGroup.getRawValue() | json}}</pre>
